In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_triage = pd.read_csv(r"C:\Users\Gonzalo\Documents\GitHub\00_tesisaustral\tesisaustral\tesisaustral\df_triage_ok.csv")

In [6]:
print(df_triage.shape)

(560486, 545)

In [8]:
plt.figure(figsize=(10, 6))
sns.heatmap(df_triage.isnull(), cmap='viridis', cbar=False, yticklabels=False)
plt.title('Valores nulos en el conjunto de datos')
plt.show()